<template>
  <div class="container containerCenter">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Para editar o eliminar alguna mascota hacer click en fila</strong> 
    </div>
    <ModalCreate v-on:refresTable="refresTable" />
    <ModalUpdate v-on:refresTable="refresTable" :data="data" />
    <TableList ref="TableListComponent" v-on:ShowModal="ShowModal" />
  </div>
</template>

<script>
import TableList from "./Table.vue";
export default {
  components: {
    TableList,
  },
  data() {
    return {
      data: null,
    };
  },
  methods: {
    refresTable() {
      this.$refs.TableListComponent.getListaMascotas();
    },
    ShowModal(IdModal) {
      this.data = IdModal.data;
      $("#" + IdModal.IdModal).modal("show");
    },
  },
};
</script>
<style>
.containerCenter {
  padding-top: 2%;
}
</style>
