<template>
  <div class="panel panel-default panelContentTable">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6 text-left"><h4>Lista de mascotas</h4></div>
        <div class="col-sm-6 text-right">
          <button
            type="button"
            v
            class="btn btn-primary"
            @click.prevent="ShowModal('IDModalCreate')"
          >
            <span
              class="glyphicon glyphicon-plus-sign"
              aria-hidden="true"
            ></span>
            &nbsp; Agregar mascota
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="form-group">
            <label for="Filtrar-mascota" class="control-label">Buscar:</label>
            <input
              type="text"
              class="form-control"
              id="Filtrar-mascota"
              style="max-width: 300px"
              v-model="filtro.buscar"
            />
          </div>
        </div>
        <div class="col-md-8 col-sm-12 text-right">
          <label class="control-label">Paginacion</label>
          <br />
          <button
            type="button"
            class="btn btn-default"
            :disabled="paginacion.current_page === 1"
            @click.prevent="getListaMascotas(paginacion.current_page - 1)"
          >
            Anterior
          </button>
          <button
            type="button"
            class="btn btn-default"
            :disabled="
              paginacion.current_page === paginacion.last_page ||
              paginacion.last_page === 0
            "
            @click.prevent="getListaMascotas(paginacion.current_page + 1)"
          >
            Siguiente
          </button>
        </div>
      </div>
      <!-- Table -->
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="text-center">
            <th
              v-for="TableHeader in TableHeaders"
              :key="'th_key_' + TableHeader"
            >
              {{ TableHeader }}
            </th>
          </tr>
        </thead>
        <tbody v-if="mascotas.length > 0">
          <tr
            v-for="(mascota, index) in mascotas"
            :key="'tr_key_' + index"
            @click.prevent="ShowModal('IDModalUpdate', mascota)"
            class="text-center"
          >
            <td>
              <h3>{{ mascota.id }}</h3>
            </td>
            <td>
              <img
                :src="mascota.imagen_url || '/image/defaultImagepets.jpg'"
                alt="Imagen mascota"
                class="img-thumbnail"
                height="140"
                width="140"
              />
            </td>
            <td>{{ mascota.nombre }}</td>
            <td>{{ mascota.raza }}</td>
            <td>{{ mascota.escala + " " + mascota.escala_select }}</td>
            <td>{{ mascota.color }}</td>
            <td>{{ mascota.fecha }}</td>
            <td>
              <label class="label label-primary" v-if="mascota.propietario">{{
                mascota.propietario_nombre
              }}</label>
              <label class="label label-primary" v-else
                >Sin dueño/propietario</label
              >
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr>
            <td class="text-center" :colspan="TableHeaders.length">
              No se encontro informacion
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>
</template>

<script>
export default {
  name: "TableList",
  data() {
    return {
      mascotaID: null,
      TableHeaders: [
        "ID",
        "Foto",
        "Nombre",
        "Nombre de la raza",
        "Tamaño",
        "Color de pelo",
        "Fecha de nacimiento",
        "Dueño",
      ],
      mascotas: [],
      filtro: { buscar: "", idTotimeout: null },
      paginacion: {
        current_page: 1,
        last_page: 1,
      },
    };
  },
  watch: {
    "filtro.buscar"(newvalue, oldvalue) {
      if (newvalue.trim() != "") {
        this.getListaMascotas(1);
      }
    },
  },
  mounted() {
    this.getListaMascotas();
  },
  methods: {
    getListaMascotas(current_page = 1) {
      this.$http
        .get(`api/mascotas?page=${current_page}&buscar=${this.filtro.buscar}`)
        .then((response) => {
          this.paginacion.current_page = response.data.current_page;
          this.paginacion.last_page = response.data.last_page;
          this.mascotas = response.data.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    ShowModal(IdModal, data) {
      this.$emit("ShowModal", { IdModal: IdModal, data: data });
    },
  },
};
</script>
<style>
.panelContentTable {
  min-width: 1000px !important;
}
td {
  vertical-align: middle !important;
}
tr>td{
  cursor: pointer;
}
</style>
