<template>
  <div
    class="modal fade"
    id="IDModalUpdate"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            :disabled="loading"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">
            Actualizacion de mascota
          </h4>
        </div>
        <div class="modal-body" v-if="!loading">
          <form>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div
                  class="form-group"
                  :class="[errors.tipo ? 'has-error' : '']"
                >
                  <label for="tipo-mascota" class="control-label"
                    >Mascota:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="tipo-mascota"
                    placeholder="Gato"
                    v-model="tipo"
                  />
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div
                  class="form-group"
                  :class="[errors.nombre ? 'has-error' : '']"
                >
                  <label for="nombre-mascota" class="control-label"
                    >Nombre de la mascota:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nombre-mascota"
                    v-model="nombre"
                  />
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div
                  class="form-group"
                  :class="[errors.raza ? 'has-error' : '']"
                >
                  <label for="raza-mascota" class="control-label"
                    >Raza de la mascota:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="raza-mascota"
                    placeholder="Montes"
                    v-model="raza"
                  />
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div
                  class="form-group"
                  :class="[errors.color ? 'has-error' : '']"
                >
                  <label for="color-mascota" class="control-label"
                    >Color de la mascota:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="color-mascota"
                    v-model="color"
                  />
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div
                  class="form-group"
                  :class="[
                    errors.escala ? 'has-error' : '',
                    errors.escala_select ? 'has-error' : '',
                  ]"
                >
                  <label for="escala-mascota" class="control-label"
                    >Tamaño de la mascota:</label
                  >
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                      <input
                        type="number"
                        class="form-control"
                        id="escala-mascota"
                        min="0"
                        v-model="escala"
                      />
                    </div>
                    <div class="hidden-md hidden-lg" style="height: 15px"></div>
                    <div class="col-sm-12 col-md-6">
                      <select class="form-control" v-model="escala_select">
                        <option value="Decametros">Decametros</option>
                        <option value="Metros">Metros</option>
                        <option value="Decimetros">Decimetros</option>
                        <option value="Centimetros">Centimetros</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="fecha-mascota" class="control-label"
                    >Fecha de nacimiento mascota:</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="fecha-mascota"
                    onfocus="this.showPicker()"
                    v-model="fecha"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <div class="checkbox">
                    <label
                      ><input type="checkbox" v-model="propietario" /> ¿ Ya
                      tiene dueño ?
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label for="propietario-mascota" class="control-label"
                    >Nombre del dueño:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="propietario-mascota"
                    :disabled="!propietario"
                    v-model="propietario_nombre"
                  />
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-12 col-md-8">
                <div class="form-group">
                  <label for="imagen-mascota">Imagen de la mascota</label>
                  <input
                    type="file"
                    id="imagen-mascota"
                    accept="image/*"
                    @change="previewImagen"
                  />
                  <br />
                  <img
                    :src="imagen_url  || '/image/defaultImagepets.jpg'"
                    alt="Imagen mascota"
                    class="img-thumbnail"
                    height="140"
                    width="140"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-body" v-else>
          <div class="row lodingContent">
            <br />
            <div class="loader"></div>
            <br />
          </div>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col-md-6  text-left">
                    <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            @click.prevent="SubmitDelete()"
            
            :disabled="loading"
          >
            Eliminar
          </button>
                </div>
                <div class="col-md-6">

                    <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            :disabled="loading"
          >
            Salir
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click.prevent="SubmitForm()"
            :disabled="loading"
          >
            Enviar
          </button>
                </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "ModalUpdate",
  props:{
      "data":{
          type:Object,

      }
  },
  data() {
    return {
      loading:false,
      nombre: "",
      raza: "",
      tipo: "",
      color: "",
      escala: 0,
      escala_select:"",
      fecha: "",
      propietario: false,
      propietario_nombre: "",
      imagen_url : null,
      fileUpload:null,
      errors:{}
    };
  },
  watch:{
    'propietario'(newvalue,oldvalue){
        if(!newvalue){
          this.propietario_nombre ="";
        }
    },
    'data'(newvalue,oldvalue){
        if(newvalue != null)
      for (let key in newvalue){
        this.$data[key] = newvalue[key];
    }
  }
},

  methods:{
    previewImagen(event) {
      const [file] = event.target.files
      if (file) {
        this.imagen_url  = URL.createObjectURL(file);
        this.fileUpload = file;
      }else{
        this.imagen_url  =null;
        this.fileUpload = null;
      }
   },
   SubmitForm(){

   let formData = new FormData;
   this.loading =true;
   this.errors = [];
   for (let key in this.$data){
    if( key != "imagen" && key != "loading")
      formData.append(key, this.$data[key]);
    }
    formData.append("_method", "PUT");
    this.$http.post(`api/mascotas/${this.data.id}`, formData ).then(response => {
      $("#IDModalUpdate").modal("hide");
      this.nombre= "";
        this.raza= "";
        this.tipo= "";
        this.color= "";
        this.escala= 0;
        this.escala_select="";
        this.fecha= "";
        this.propietario= false;
        this.propietario_nombre= "";
        this.imagen_url = null;
        this.fileUpload=null;
        this.errors={};
      this.$emit('refresTable')
    }).catch(e=>{
      if(e.status == 403){
       this.errors = e.data.errors;
      }
      console.log(e)
    }).finally(() => {
      this.loading =false;

    })
   },

   SubmitDelete(){
    let confirmacion = confirm("Esta seguro que queire eliminar la mascota? ");
    if(confirmacion == true){
    this.$http.delete(`api/mascotas/${this.data.id}`).then(response => {
      $("#IDModalUpdate").modal("hide");
      this.$emit('refresTable')
    }).finally(() => {
      this.loading =false;
    })
    }else{
        for (let key in this.data){
        this.$data[key] = newvalue[key];
    }
    }
   }
  }
};
</script>
<style>
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lodingContent {
  display: flex;
  justify-content: center;
}
</style>
